---
---

// 14px might work for *you*, but I like it a little bigger, please
$font-size-base: 18px !default;

// There are a lot of things to change if you use a different colour scheme
// @import "color-scheme";

@import "bootstrap";
@import "font-awesome";
@import "sticky-footer";
@import "syntax-highlighting";

ul.link-list {
    display: inline;
    padding-left: 0px;
    list-style: none;

    li {
        display: inline;
        padding-right: 3px;
    }
}

img { max-width: 100%; }

.fancy-img {
    max-width: 100%;
    border: 1px solid black;
    padding: 2px;
    display: block;
    margin: 2px auto;
}
